img {
    height: 100px;
    width: 100px
}
body {
    background-color: rgb(236, 204, 252);
    font-family: 'Josefin Sans', sans-serif;
}
#job-form, #car-form, #house-form {
   margin-top:70px;
}

.header {
padding-top: 20px;
border: 2px solid black
}
h3, h2 {
    text-align: center;
}
#car-ad, #house-ad, #job-ad {
    outline: 1px solid black;
}